<%- include ("header") -%>

<h2>This is about page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam architecto placeat adipisci, tempore vero quasi consectetur laborum perferendis, enim voluptatum, sint amet vel dolorem nemo officia molestias quam assumenda. Fugit?</p>

<%- include ("footer") -%>